<p id="instructions">Select one answer for each question, and when finished press results button below.</p>

<ul *ngIf="results">
            <li *ngFor="let result of results" class="questions">
        <h3 [innerHTML]="result.question"></h3>

        <section *ngFor="let answer of result.possible_answers" class="questionValues">
                <input type="radio" [id]="answer" [name]="result.question" [value]="answer" [ngClass]="answer === result.correct_answer ? 'correct' : '' " class="specificRadio"/>
                <label [for]="answer" [innerHTML]="answer"></label>
              </section>
    </li>
</ul>
<section class="answerSection">
<button (click)="countAnswers()"> Show my results </button>
<h2 Id="finalResults"></h2> 
<button (click)="resetTrivia()" Id="resetButton"> Play Again?</button>
</section>
