
.questions {
    list-style: none;
    padding: 1rem;
    font-size: 20px;
}

ul {
    margin: 4em;
}

#specificRadio {
    margin-top: 2em;
    margin-right: 2em;
}

.questionValues {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#instructions {
    text-align: center;
    margin-top: 3em;
}

.answerSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 3em;
    padding: 0.5em;
}

.playAgain {
   align-items: center;
}

