<h1 [class.blue]="h1Style"> Let's play! </h1>

<button (click)="getQuestion()">Click Me To Begin</button>

<section>
<h2> {{ triviaquestion.question }}</h2>
<h3>Q placeholder!</h3>
<ul>
    <li class="questions">{{ triviaquestion.correct_answer }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
</ul>
</section>

<section>
<h2> {{ triviaquestion.question }}</h2>
<h3>Q placeholder!</h3>
<ul>
    <li class="questions">{{ triviaquestion.correct_answer }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
</ul>
</section>

<section>
<h2> {{ triviaquestion.question }}</h2>
<h3>Q placeholder!</h3>
<ul>
    <li class="questions">{{ triviaquestion.correct_answer }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
</ul>
</section>

<section>
<h2> {{ triviaquestion.question }}</h2>
<h3>Q placeholder!</h3>
<ul>
    <li class="questions">{{ triviaquestion.correct_answer }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
</ul>
</section>

<section>
<h2> {{ triviaquestion.question }}</h2>
<h3>Q placeholder!</h3>
<ul>
    <li class="questions">{{ triviaquestion.correct_answer }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
    <li class="questions">{{ triviaquestion.incorrect_answers }}</li>
</ul>
</section>

<h2> You Got <span class="result">THIS MANY</span> Wrong!</h2>